@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');
.shop-list {
    &__item {
        max-width: 337px;
        background: #ffffff;
        align-items: center;
        padding: 9px 0 32px 0;
        background: #FFFFFF;
        box-shadow: 5px 5px 75px rgba(210, 213, 234, 0.45);
        border-radius: 6px 0px 0px 6px; 
    }
    &__img{
        padding: 0 70px;
        img {
            width: 205px;
            height: 247px;
            object-fit: cover;
        }
    }
    &-label {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 6px 38px 0 20px;
        &__name {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #8A8A9D;
        }
        &__price {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 25px;
            display: flex;
            align-items: center;
            color:#3A63E0;
        }
        &__dollar {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
        }
        &__rating {
            display: flex;
            justify-content: left;
        }
    }
}